@tailwind base;
@tailwind components;
@tailwind utilities;

.d1
{
    background-image: url(./bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.d2
{
    background-image: url(./bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
}